# ## ###########################################################
#
# .gitignore
# Archivos cache generados que no deben subirse al repositorio
#
# Autor: José Ramírez
# License: MIT
#
# ## ###########################################################

__pycache__
__pycache__/*
./__pycache__
./__pycache__/*

./entidades/__pycache__
./entidades/__pycache__/*

./web/__pycache__
./web/__pycache__/*

config_done.flag

img/*
